.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #48be9d;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  height: 3.5rem;
  width: 100%;

}

.app-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  padding: 0 10px;
    
}

.app-header .logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.app-header .user-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.app-header .user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
