@font-face {
  font-family: "Caveat";
  src: url("../../fonts/Caveat/Caveat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
