/* Box Sizing Reset */
* {
  box-sizing: border-box;
}

/* HTML Default Styles */
html {
  display: block;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Body Default Styles */
body {
  margin: 0 auto;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  text-rendering: optimizeLegibility;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
}

/* Headings Reset */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.6em;
}

/* Images Reset */
img {
  display: block;
  max-width: 100%;
}

/* Paragraph Reset */
p {
  margin: 0 0 1em;
}

/* Links Reset */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Unordered List Reset */
ul {
  list-style: none;
  padding: 0;
}

/* Input Reset */
input {
  max-width: 100%;
}

div {
  display: block;
  unicode-bidi: isolate;
}
