/* Main Container Layout */
.main-container {
  display: grid;
   grid-template-columns: 1fr minmax(800px, 1200px) 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  min-height: calc(100vh - 10rem);
  overflow: auto;
  gap: 5px;
}

.main-container > * {
  grid-column: 2;
}

.main-container > *.full {
  grid-column: 1 / -1;
}
main {
  grid-row: 2;
  overflow-y: auto;
  min-height: 0;
}

/* Card Grid Layout */

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
